// Base style sheet

ul,ol{
	list-style-position:inside;
}

.interior {
	margin: 2rem auto;

	section.row {
		border-bottom:1px solid #eee;
		margin:1.5rem auto;
		padding-bottom:1.5rem;
	}
}

div#main-cta{
	@include center-text;
}

body {
	background: url(cream_pixels.png);
	@include serif;

	p {
		@include serif;
	}

	h1,h2,h3,h4,h5,h6 {
		@include sans;
	}
}

.panel {
	color: #fff;
	@include sans;
}

.button {
	@include sans;
}

.button.small {
	font-weight:normal;
}

.secondary.button{
	color:#666;
	font-weight:normal;
	&:hover {
		background:#fff;
	}
}



@media  (-webkit-min-device-pixel-ratio: 1.5) , (min-resolution: 144dpi) { 
	body{
		background: url(cream_pixels_@2X.png);
		background-size: 160px 160px;
	}
}