// Base style sheet
a {
	color: #4DB7C5;
}
a:hover {
	color: darken(#4DB7C5, 10%);
}
button, .button {
background-color: #F7870E;
border-color: #cb6d07;
}
button.secondary, .button.secondary, .secondary.button {
background-color: #4DB7C5;
border-color: #005387;
color: #fff !important;
}
button.secondary:hover, .button.secondary:hover, .secondary.button:hover {
color: #666 !important;
}
ul,ol{
	list-style-position:inside;
}

.interior {
	margin: 2rem auto;

	section.row {
		border-bottom:1px solid #eee;
		margin:1.5rem auto;
		padding-bottom:1.5rem;
	}
}

div#main-cta.panel{
	@include center-text;
	
	p {
		color:#555 !important;
	}

	h3 {
		color: #111;
	}
}

body {
	background: url(cream_pixels.png);
	@include serif;

	p {
		@include serif;
	}

	h1,h2,h3,h4,h5,h6 {
		@include sans;
	}
}

.panel {
	color: #333;
	@include sans;
	border: 1px solid #aaa;
	@include pattern-dark;
}

.button {
	@include sans;
}

.button.small {
	font-weight:normal;
}

.secondary.button{
	color:#666;
	font-weight:normal;
	&:hover {
		background:#fff;
	}
}

.lead p {
	@extend %lead;
	color: #333;
}
.panel p {
	color: #333;
}

@media  (-webkit-min-device-pixel-ratio: 1.5) , (min-resolution: 144dpi) { 
	body{
		background: url(cream_pixels_@2X.png);
		background-size: 160px 160px;
	}
}