footer{
	margin:4rem auto 0;
	padding-bottom:3rem;
	@include center-text;

	ul {

		text-align : center;
		display : block;
		width : 100%;
	}

	#social-icons {

		a {
			display: inline-block;
			margin:.5rem;
			&:hover img{
				margin-top:0;
			}
		}
		
		img {
			height:20px;
			margin-top:5px;
		}		
	}
}
