header{
	#nav-banner{
		background:#111;
	}

	.top-bar{
		margin-bottom:0;
	}

	li.has-form a{

	}

	#logo{
		padding:1rem 0;
		max-width:300px;
	}

	.hide-for-small{
		text-align:right;
		padding-top:1rem;
	}
}

@media only screen and (max-width: 768px) {
	header #logo {
		margin:0 auto;
		display:block;
	}

}