header{
	#nav-banner{
		background:#111;
	}

	.top-bar{
		margin-bottom:0;
	}

	li.has-form a{

	}

	#logo{
		padding:1rem 0;
		max-width:300px;
	}

	.hide-for-small{
		text-align:right;
		padding-top:1rem;
	}

	nav.top-bar {

		li.has-form a:hover {
			color:#111;
		}

		a {
			@include sans;
			font-weight:normal;
			&:hover {
				background: $primary-color;
			}
		}

		a.alert.button {
			color: #111;
			&:hover {
				color:#111;
			}
		}
	}
	.top-bar-section ul {
		background: #111111;
	}
	.has-children ul {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	header #logo {
		margin:0 auto;
		display:block;
	}

}