.wod {
	margin:2rem auto;
	
	img {
		border: 1px solid #ddd;
		background: #fff;
		padding: 1px;
	}

	h3 {
			span{
				color:#4DB7C5;
				font-weight:bold;
			}
		}

	.workout-list{
		li {
			margin:.3rem 0;
			padding: .3rem;
			list-style-type:none;
			font-weight:bold;

			ul li {
				font-weight:normal;
				border-top:1px solid #eee;
				font-size:.9rem;
				color:#333;				
			}

		}
	}

	section {
		border-top: 1px solid #ddd;
		padding:1.5rem 0;
	}

	span{
		font-weight:normal;
		color:#888;
	}

	section.gallery {
		img.thumb {
			height:100px;
		}
	}

	.comments {
		.row {
			border-bottom:1px solid #ddd;
			padding:1rem 0;
		}
	}

	.small-6 .button{
		margin-top:2rem;
	}

	.sidebar {
		section {
			@include pattern-dark;
			padding:1rem;
		}
	}
}

.travel-wod{
	border-bottom:1px solid #ddd;
	padding-top:1rem;
}